@use "sass:math";

$font: "Zen Kurenaido";
@import url("https://fonts.googleapis.com/css2?family=#{$font}");

$orange: rgb(242, 101, 30);
$indigo: rgb(5, 55, 80);
$grey: rgb(134, 134, 134);

$primary: $orange;
$contrast: $indigo;
$highlight: $grey;
$light: white;

$grid-gap: 1em;
$padding: 1em;
$border-thickess: 1px;

@mixin backdrop {
  margin: 0;
  border: $border-thickess solid $primary;
  background-color: $highlight;
  padding: $grid-gap;
  border-radius: 1em;
}

@mixin unpad {
  padding: 0;
  margin: 0;
}

html,
body,
h1,
h2,
ul,
main,
header {
  @include unpad;
}

body {
  font-family: $font;
  text-align: center;
  color: $contrast;
  background: $contrast;
  text-transform: lowercase;
  height: 99vh;
  overflow: hidden;
}

h1 {
  font-size: 8em;
}

.identifier {
  font-size: 2em;
}

h2 {
  font-size: 4em;
  color: $primary;
  padding: math.div($padding, 2);
}

h1:before,
h1:after,
h2:before,
h2:after {
  content: "-";
}

em {
  font-weight: bold;
}

ul {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: $grid-gap;

  @include backdrop;
}

#languages {
  ul {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

button {
  font-family: $font;
  font-size: 3em;
  text-transform: lowercase;
  background-color: $contrast;
  color: $highlight;
  padding: 0.5em;
  width: 100%;
  border: $border-thickess solid $contrast;
  border-radius: 0.3em;

  &:active {
    color: $light;
  }
}

button.pending {
  color: $light;
  background-color: $highlight;
}

button.selected {
  background-color: $primary;
  color: $light;
}

main {
  display: grid;
}

header {
  @include backdrop;
}

header,
section {
  margin: $padding;
}
