@use "sass:math";

@use "base/vars" as base-vars;

@use "controller/colours";
@use "controller/fonts";
@use "controller/layout";
@use "controller/metadata-modal";
@use "controller/mixins";
@use "controller/vars";
@use "controller/buttons";

body {
  text-align: center;
  background-image: url(base-vars.$background-root + "blue-metal-cogs-and-gears.jpg");
  background-blend-mode: overlay;
}

h1:before,
h1:after,
h2:before,
h2:after {
  content: "-";
}
