@use "sass:math";

@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display");

$background-colour: rgb(252, 252, 252);
$primary-colour: rgb(218, 162, 30);
$lighter: lighten($primary-colour, 30%);
$darker: darken($primary-colour, 10%);

body {
  font-family: "Red Hat Display";
  text-align: center;
  background-color: $background-colour;
  color: $primary-colour;
  margin: 40vh;

  perspective: 100vh;
  perspective-origin: center;
}

main {
  height: 90vh;
}

span {
  display: block;
  font-size: 10vh;
}

.in {
  animation: rotate-in 2s linear 0s infinite;
}

.out {
  animation: rotate-out 2s linear 1s infinite;
}

@mixin activated {
  color: red;
}

@mixin deactivated {
  color: blue;
}

@import "./base/rotator";
