@use "true" as *;
@use "sass:math";
@use "../../../sass/base/circliser";

@include describe("radians()") {
  $expectations: (
    0: 0,
    12.5: math.div(math.$pi, 4),
    25: math.div(math.$pi, 2),
    50: math.$pi,
    75: math.div(math.$pi * 3, 2),
    100: 0,
  );

  @each $index, $rads in $expectations {
    @include it("calculates the radians for index #{$index}") {
      @include assert-equal(circliser.radians($index), $rads);
    }
  }
}

@include describe("y-value()") {
  $expectations: (
    0: 0,
    12.5: 0 - math.div(math.sqrt(2), 2),
    25: 0 - 1,
    50: 0,
    75: 1,
    100: 0,
  );

  @each $index, $expected in $expectations {
    @include it("calculates the y-value for index #{$index}") {
      @include assert-equal(circliser.y-value($index), $expected);
    }
  }
}

@include describe("scaled y-value()") {
  @include it("calculates the scaled y-value for index 0 with scale 2") {
    @include assert-equal(circliser.y-value(0, $scale: 2), 0);
  }

  @include it("calculates the scaled y-value for index 25 with scale 0.5") {
    @include assert-equal(circliser.y-value(25, $scale: 0.5), 0 - 0.5);
  }

  @include it("calculates the scaled y-value for index 12.5 with scale 5") {
    @include assert-equal(
      circliser.y-value(12.5, $scale: 5),
      0 - math.div(math.sqrt(2), 2) * 5
    );
  }
}

@include describe("z-value()") {
  $expectations: (
    0: 0 - 1,
    12.5: 0 - math.div(math.sqrt(2), 2),
    25: 0,
    50: 1,
    75: 0,
    100: 0 - 1,
  );

  @each $index, $expected in $expectations {
    @include it("calculates the z-value for index #{$index}") {
      @include assert-equal(circliser.z-value($index), $expected);
    }
  }
}

@include describe("scaled z-value()") {
  @include it("calculates the scaled z-value for index 25 with scale 4") {
    @include assert-equal(circliser.z-value(25, $scale: 2), 0);
  }

  @include it("calculates the scaled z-value for index 50 with scale 0.5") {
    @include assert-equal(circliser.z-value(50, $scale: 0.5), 0.5);
  }

  @include it("calculates the scaled z-value for index 12.5 with scale 7") {
    @include assert-equal(
      circliser.z-value(12.5, $scale: 7),
      0 - math.div(math.sqrt(2), 2) * 7
    );
  }
}

@include describe("offset z-value()") {
  @include it("calculates the offset z-value for index 0 with offset 1") {
    @include assert-equal(circliser.z-value(0, $offset: 1), 0);
  }

  @include it("calculates the offset z-value for index 25 with offset 1") {
    @include assert-equal(circliser.z-value(25, $offset: 1), 1);
  }

  @include it("calculates the offset z-value for index 50 with offset 1") {
    @include assert-equal(circliser.z-value(50, $offset: 1), 2);
  }

  @include it(
    "calculates the offset z-value for index 50 with offset 2 and scale 2"
  ) {
    @include assert-equal(circliser.z-value(50, $scale: 2, $offset: 2), 4);
  }
}

@include describe("rotation()") {
  $expectations: (
    0: 0,
    25: 0 - 0.25,
    50: 0 - 0.5,
    75: 0 - 0.75,
    100: 0 - 1,
  );

  @each $index, $expected in $expectations {
    @include it("calculates the rotation for index #{$index}") {
      @include assert-equal(circliser.rotation($index), $expected);
    }
  }
}
