@use "colours";
@use "fonts";

.btn {
  font-size: 3em;
  text-transform: lowercase;

  margin: 0;
  padding: 0.5em;
  width: 100%;
  border-width: 4px;
  border-style: solid;
  border-radius: 0.3em;

  transition: background-size 1s ease-in-out, color 2s;

  background-size: 0% 0%;
  background-position: center;
}

.btn.selected {
  background-size: 100% 100%;
  background-position: center;
}
