$orange: rgb(242, 101, 30);
$indigo: rgb(5, 55, 80);
$grey: rgb(134, 134, 134);

$primary: $orange;
$contrast: $indigo;
$highlight: $grey;
$light: white;

$inactive: $contrast;
$active: $primary;

body {
  color: $contrast;
  background-color: $contrast;
}

h2 {
  color: $primary;
}

#git-metadata {
  background-color: $contrast;
  color: $primary;
  border-color: $highlight;

  a {
    color: $highlight;
    text-decoration-color: $primary;
  }
}

.overlay {
  background-color: transparentize(black, 0.2);
}

#show-metadata {
  a {
    color: $primary;
  }
}

.btn {
  color: $highlight;
  border-color: $contrast;
  background-image: linear-gradient($active, $active);
  background-repeat: no-repeat;
  background-color: $inactive;
}

.btn.pending {
  color: $primary;
}

.btn.selected {
  color: $light;
}
