@use "sass:math";

@use "mixins";
@use "vars";

html,
body,
h1,
h2,
ul,
main,
header {
  @include mixins.unpad;
}

main {
  display: grid;
}

header,
ul {
  @include mixins.backdrop;
}

header,
section {
  margin: vars.$padding;
}

h2 {
  padding: math.div(vars.$padding, 2);
}

ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(vars.$style-columns, 1fr);
  gap: vars.$grid-gap;
}

#language {
  ul {
    grid-template-columns: repeat(vars.$language-columns, 1fr);
  }
}
