bidict==0.21.4
certifi==2020.6.20
chardet==4.0.0
click==8.0.3
colorzero==2.0
Deprecated==1.2.13
distro==1.6.0
Flask==2.0.2
Flask-Cors==3.0.10
Flask-SocketIO==5.1.1
gevent==21.12.0
gitdb==4.0.9
GitPython==3.1.26
gpiozero==1.6.2
greenlet==1.1.2
gunicorn==20.1.0
hiredis==2.0.0
idna==3.3
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
python-engineio==4.3.0
python-socketio==5.5.0
redis==4.1.0
requests==2.27.1
RPi.GPIO==0.7.0
six==1.16.0
smmap==5.0.0
spidev==3.5
ssh-import-id==5.11
typing-extensions==4.0.1
urllib3==1.26.7
Werkzeug==2.0.2
wrapt==1.13.3
zope.event==4.5.0
zope.interface==5.4.0
