@import url("https://fonts.googleapis.com/css2?family=Fredoka One");
body {
  font-family: "Fredoka One";
}

body {
  font-size: 5vh;
  margin: 1vh;
  padding: 0;
}

.clock-grid {
  display: grid;
  gap: 0 0;
  align-items: center;
  height: 98vh;
  width: 98vh;
  margin: 0 auto;
  perspective: 100vh;
  perspective-origin: center;
}
.clock-grid span {
  text-align: center;
}

.clock-grid-10-10 {
  grid-template-columns: repeat(14, minmax(0, 1fr));
  grid-template-rows: repeat(14, minmax(0, 1fr));
}

.clock-grid-10-11 {
  grid-template-columns: repeat(14, minmax(0, 1fr));
  grid-template-rows: repeat(15, minmax(0, 1fr));
}

.clock-grid-10-12 {
  grid-template-columns: repeat(14, minmax(0, 1fr));
  grid-template-rows: repeat(16, minmax(0, 1fr));
}

.clock-grid-11-10 {
  grid-template-columns: repeat(15, minmax(0, 1fr));
  grid-template-rows: repeat(14, minmax(0, 1fr));
}

.clock-grid-11-11 {
  grid-template-columns: repeat(15, minmax(0, 1fr));
  grid-template-rows: repeat(15, minmax(0, 1fr));
}

.clock-grid-11-12 {
  grid-template-columns: repeat(15, minmax(0, 1fr));
  grid-template-rows: repeat(16, minmax(0, 1fr));
}

.clock-grid-12-10 {
  grid-template-columns: repeat(16, minmax(0, 1fr));
  grid-template-rows: repeat(14, minmax(0, 1fr));
}

.clock-grid-12-11 {
  grid-template-columns: repeat(16, minmax(0, 1fr));
  grid-template-rows: repeat(15, minmax(0, 1fr));
}

.clock-grid-12-12 {
  grid-template-columns: repeat(16, minmax(0, 1fr));
  grid-template-rows: repeat(16, minmax(0, 1fr));
}

body {
  font-size: 5.5vh;
  background: url("../../images/backgrounds/linen.png"), radial-gradient(gray, black);
  color: black;
}

.active {
  animation: shooter-in 2s 1s ease forwards;
}

.inactive {
  animation: shooter-out 2s ease forwards;
}

@keyframes shooter-in {
  0% {
    color: black;
    text-shadow: #333333 0 0 0.1vh, rgba(255, 255, 255, 0.4) 0 0.1vh 0.3vh;
  }
  40% {
    color: black;
    text-shadow: #333333 0 0 0.1vh, rgba(255, 255, 255, 0.4) 0 0.1vh 0.3vh;
    transform: perspective(30vh) translateZ(10vh);
  }
  60% {
    color: #ff9100;
    text-shadow: #995700 0 0 0.1vh, #ff9100 0 -0.1vh 0.2vh, #ff9100 0 -0.3vh 0.2vh, rgba(0, 0, 0, 0.8) 0 2vh 2vh;
    transform: perspective(30vh) translateZ(10vh);
  }
  70% {
    transform: perspective(30vh) translateZ(10vh);
  }
  99% {
    transform: perspective(30vh) translateZ(-20vh);
  }
  100% {
    transform: perspective(30vh) translateZ(0);
    color: #ff9100;
    text-shadow: #995700 0 0 0.1vh, #ff9100 0 -0.1vh 0.2vh, #ff9100 0 -0.3vh 0.2vh, rgba(0, 0, 0, 0.8) 0 2vh 2vh;
  }
}
@keyframes shooter-out {
  0% {
    color: #ff9100;
    text-shadow: #995700 0 0 0.1vh, #ff9100 0 -0.1vh 0.2vh, #ff9100 0 -0.3vh 0.2vh, rgba(0, 0, 0, 0.8) 0 2vh 2vh;
  }
  40% {
    color: #ff9100;
    text-shadow: #995700 0 0 0.1vh, #ff9100 0 -0.1vh 0.2vh, #ff9100 0 -0.3vh 0.2vh, rgba(0, 0, 0, 0.8) 0 2vh 2vh;
    transform: perspective(30vh) translateZ(10vh);
  }
  60% {
    color: black;
    text-shadow: #333333 0 0 0.1vh, rgba(255, 255, 255, 0.4) 0 0.1vh 0.3vh;
    transform: perspective(30vh) translateZ(10vh);
  }
  70% {
    transform: perspective(30vh) translateZ(10vh);
  }
  99% {
    transform: perspective(30vh) translateZ(-20vh);
  }
  100% {
    transform: perspective(30vh) translateZ(0);
    color: black;
    text-shadow: #333333 0 0 0.1vh, rgba(255, 255, 255, 0.4) 0 0.1vh 0.3vh;
  }
}

/*# sourceMappingURL=fridge-letters.css.map */
