@use 'base/mixins';

$inactive-colour: rgb(209, 208, 214);
$active-colour: rgb(249, 253, 1);

@mixin activated {
    color: $active-colour;
    @include mixins.step-shadow($active-colour);
}

@mixin deactivated {
    color: $inactive-colour;
    @include mixins.step-shadow($inactive-colour);
}

@import 'base/faders';

body {
    background-image: url("../images/backgrounds/concrete.jpg");
    font-weight: bold;
}
