@use 'base/mixins';
@import url("https://fonts.googleapis.com/css2?family=VT323");

$green: rgb(102, 255, 0);

$background-colour: black;
$active-colour: $green;
$inactive-colour: darken($active-colour, 40%);
$shadow-colour: darken($active-colour, 20%);

@mixin activated {
    color: $active-colour;
    font-weight: bold;
    text-shadow: $shadow-colour 4px 0 4px;
}

@mixin deactivated {
    color: $inactive-colour;
    text-shadow: none;
}

@import 'base/faders';

body {
    background-color: $background-colour;
    font-family: VT323;
    letter-spacing: 0.4em;
}
