@use 'base/mixins';

$active-colour: rgb(247, 0, 255);
$inactive-colour: rgb(142, 143, 75);

@mixin activated {
  color: $active-colour;
  @include mixins.engrave-with-bloom($active-colour);
}

@mixin deactivated {
  background-color: $inactive-colour;
  color: transparent;
  @include mixins.engrave;
}

@import 'base/faders';

body {
  background-image: url("../images/backgrounds/wood.jpg");
}
