@use '../base/mixins';

@import url("https://fonts.googleapis.com/css2?family=Unkempt");

$grey: rgb(36, 36, 36);

$active-colour: white;
$background-colour: black;
$inactive-colour: $grey;

@mixin activated {
    color: $active-colour;
}

@mixin deactivated {
    color: $inactive-colour;
}

@import '../base/default';

body {
    background-color: $background-colour;
    font-weight: bold;
    font-family: "Unkempt";
    font-size: 2.5em;
}
