// https://codepen.io/developerontour/pen/QWjMNLe
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans");

$base-colour: rgb(0, 0, 0);
$inactive-colour: rgb(17, 31, 45);
$active-colour: rgb(75, 154, 234);

$shadow-depth: 0.2vh;

@mixin activated {
  text-shadow: $shadow-depth $shadow-depth 0px $active-colour;
}

@mixin deactivated {
}

@import "../base/faders";

body {
  font-family: "Josefin Sans";
  font-weight: 900;
  background-color: $base-colour;
  text-shadow: $shadow-depth $shadow-depth 0px $inactive-colour;
}
