@use '../base/mixins';

@import "https://fonts.googleapis.com/css2?family=Aldrich";

$active-colour: rgb(175, 59, 110);
$inactive-colour: rgb(138, 205, 234);
$background-colour: rgb(74, 108, 111);

@mixin activated {
  color: $active-colour;
  @include mixins.engrave-with-bloom($active-colour)
}

@mixin deactivated {
  color: $inactive-colour;
  @include mixins.engrave
}

@import '../base/faders';

body {
  background-color: $background-colour;
  font-family: "Aldrich";
}
