/* Error: Undefined variable.
 *   ,
 * 1 | @import url("https://fonts.googleapis.com/css2?family=#{$font}");
 *   |                                                         ^^^^^
 *   '
 *   sass/base/_font.scss 1:57           @import
 *   sass/base/_default.scss 3:9         @import
 *   sass/spare-clocks/purple.scss 19:9  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: Undefined variable.\a   \2577 \a 1 \2502  @import url("https://fonts.googleapis.com/css2?family=#{$font}");\a   \2502                                                          ^^^^^\a   \2575 \a   sass/base/_font.scss 1:57           @import\a   sass/base/_default.scss 3:9         @import\a   sass/spare-clocks/purple.scss 19:9  root stylesheet';
}
