<!DOCTYPE html>
<html>
  <head>
    {% include "components/imports.html" %}
    <title>jlock control</title>
  </head>

  <body>
    <header>
      <h1>jlock</h1>
      <span class="identifier">on <em>{{host_name }}</em></span>
    </header>
    <main>
      <section id="style">
        <h2>Styles</h2>

        <ul>
          {% for style in styles %}
          <li>
            <button
              id="style-{{style}}"
              class="btn"
              data-type="style"
              data-name="{{style}}"
            >
              {{style | replace("-", " ")}}
            </button>
          </li>
          {% endfor %}
        </ul>
      </section>

      <section id="language">
        <h2>Languages</h2>

        <ul>
          {% for id, name in languages.items() %}
          <li>
            <button
              id="language-{{id}}"
              class="btn"
              data-type="language"
              data-name="{{id}}"
            >
              {{name}}
            </button>
          </li>
          {% endfor %}
        </ul>
      </section>
    </main>
    {% include "components/git-metadata.html" %}
  </body>
</html>
