<!DOCTYPE html>
<html>
  <head>
    {% include "components/imports.html" %}
    <title>jlock control</title>
  </head>

  <body>
    <header>
      <h1>jlock</h1>
      <span class="identifier">on <em>{{host_name }}</em></span>
    </header>
    <main>
      <section id="style">
        <h2>Styles</h2>

        <ul>
          {% for style in styles %}
          <li>
            <button
              id="style-{{style}}"
              class="btn"
              data-type="style"
              data-name="{{style}}"
            >
              {{style | replace("-", " ")}}
            </button>
          </li>
          {% endfor %}
        </ul>
      </section>

      <section id="language">
        <h2>Languages</h2>

        <ul>
          {% for id, name in languages.items() %}
          <li>
            <button
              id="language-{{id}}"
              class="btn"
              data-type="language"
              data-name="{{id}}"
            >
              {{name}}
            </button>
          </li>
          {% endfor %}
        </ul>
      </section>
    </main>

    <div class="overlay" id="git-metadata-modal">
      <section id="git-metadata">
        <h2>jlock</h2>
        <dl>
          <dt>Commit</dt>
          <dd>
            <a href="{{ git_metadata['url'] }}">{{ git_metadata['commit'] }}</a>
          </dd>
          <dt>Author</dt>
          <dd>{{ git_metadata['author'] }}</dd>
          <dt>Timestamp</dt>
          <dd>{{ git_metadata['timestamp'] }}</dd>
        </dl>
      </section>
    </div>

    <section id="show-metadata">
      <a href="#">❋</a>
    </section>
  </body>
</html>
