@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display");
body {
  font-family: "Red Hat Display";
  text-align: center;
  background-color: #fcfcfc;
  color: #daa21e;
  margin: 40vh;
}

main {
  height: 90vh;
}

span {
  display: block;
  font-size: 10vh;
}

.in {
  animation: rotate-in 2s linear 0s infinite;
}

.out {
  animation: rotate-out 2s linear 0s infinite;
}

@keyframes rotate-in {
  0% {
    transform: perspective(40vh) translateY(0vh) translateZ(0vh) rotateX(0turn);
    color: blue;
  }
  1% {
    transform: perspective(40vh) translateY(-0.9418577929vh) translateZ(0.0197327157vh) rotateX(-0.01turn);
  }
  2% {
    transform: perspective(40vh) translateY(-1.8799985035vh) translateZ(0.0788529869vh) rotateX(-0.02turn);
  }
  3% {
    transform: perspective(40vh) translateY(-2.8107197188vh) translateZ(0.1771274927vh) rotateX(-0.03turn);
  }
  4% {
    transform: perspective(40vh) translateY(-3.7303483075vh) translateZ(0.3141683887vh) rotateX(-0.04turn);
  }
  5% {
    transform: perspective(40vh) translateY(-4.6352549156vh) translateZ(0.489434837vh) rotateX(-0.05turn);
  }
  6% {
    transform: perspective(40vh) translateY(-5.5218682903vh) translateZ(0.7022351411vh) rotateX(-0.06turn);
  }
  7% {
    transform: perspective(40vh) translateY(-6.3866893735vh) translateZ(0.9517294753vh) rotateX(-0.07turn);
  }
  8% {
    transform: perspective(40vh) translateY(-7.2263051115vh) translateZ(1.2369331996vh) rotateX(-0.08turn);
  }
  9% {
    transform: perspective(40vh) translateY(-8.0374019247vh) translateZ(1.556720745vh) rotateX(-0.09turn);
  }
  10% {
    transform: perspective(40vh) translateY(-8.8167787844vh) translateZ(1.9098300563vh) rotateX(-0.1turn);
  }
  11% {
    transform: perspective(40vh) translateY(-9.5613598462vh) translateZ(2.2948675722vh) rotateX(-0.11turn);
  }
  12% {
    transform: perspective(40vh) translateY(-10.2682065889vh) translateZ(2.7103137258vh) rotateX(-0.12turn);
  }
  13% {
    transform: perspective(40vh) translateY(-10.9345294113vh) translateZ(3.1545289407vh) rotateX(-0.13turn);
  }
  14% {
    transform: perspective(40vh) translateY(-11.5576986416vh) translateZ(3.6257601025vh) rotateX(-0.14turn);
  }
  15% {
    transform: perspective(40vh) translateY(-12.1352549156vh) translateZ(4.1221474771vh) rotateX(-0.15turn);
  }
  16% {
    transform: perspective(40vh) translateY(-12.6649188825vh) translateZ(4.6417320502vh) rotateX(-0.16turn);
  }
  17% {
    transform: perspective(40vh) translateY(-13.1446002007vh) translateZ(5.182463259vh) rotateX(-0.17turn);
  }
  18% {
    transform: perspective(40vh) translateY(-13.572405787vh) translateZ(5.7422070843vh) rotateX(-0.18turn);
  }
  19% {
    transform: perspective(40vh) translateY(-13.9466472883vh) translateZ(6.3187544732vh) rotateX(-0.19turn);
  }
  20% {
    transform: perspective(40vh) translateY(-14.2658477444vh) translateZ(6.9098300563vh) rotateX(-0.2turn);
  }
  21% {
    transform: perspective(40vh) translateY(-14.5287474169vh) translateZ(7.5131011284vh) rotateX(-0.21turn);
  }
  22% {
    transform: perspective(40vh) translateY(-14.7343087609vh) translateZ(8.1261868541vh) rotateX(-0.22turn);
  }
  23% {
    transform: perspective(40vh) translateY(-14.8817205197vh) translateZ(8.7466676644vh) rotateX(-0.23turn);
  }
  24% {
    transform: perspective(40vh) translateY(-14.9704009264vh) translateZ(9.3720948047vh) rotateX(-0.24turn);
  }
  25% {
    transform: perspective(40vh) translateY(-15vh) translateZ(10vh) rotateX(-0.25turn);
  }
  26% {
    transform: perspective(40vh) translateY(-14.9704009264vh) translateZ(10.6279051953vh) rotateX(-0.26turn);
  }
  27% {
    transform: perspective(40vh) translateY(-14.8817205197vh) translateZ(11.2533323356vh) rotateX(-0.27turn);
  }
  28% {
    transform: perspective(40vh) translateY(-14.7343087609vh) translateZ(11.8738131459vh) rotateX(-0.28turn);
  }
  29% {
    transform: perspective(40vh) translateY(-14.5287474169vh) translateZ(12.4868988716vh) rotateX(-0.29turn);
  }
  30% {
    transform: perspective(40vh) translateY(-14.2658477444vh) translateZ(13.0901699437vh) rotateX(-0.3turn);
  }
  31% {
    transform: perspective(40vh) translateY(-13.9466472883vh) translateZ(13.6812455268vh) rotateX(-0.31turn);
  }
  32% {
    transform: perspective(40vh) translateY(-13.572405787vh) translateZ(14.2577929157vh) rotateX(-0.32turn);
  }
  33% {
    transform: perspective(40vh) translateY(-13.1446002007vh) translateZ(14.817536741vh) rotateX(-0.33turn);
  }
  34% {
    transform: perspective(40vh) translateY(-12.6649188825vh) translateZ(15.3582679498vh) rotateX(-0.34turn);
  }
  35% {
    transform: perspective(40vh) translateY(-12.1352549156vh) translateZ(15.8778525229vh) rotateX(-0.35turn);
  }
  36% {
    transform: perspective(40vh) translateY(-11.5576986416vh) translateZ(16.3742398975vh) rotateX(-0.36turn);
  }
  37% {
    transform: perspective(40vh) translateY(-10.9345294113vh) translateZ(16.8454710593vh) rotateX(-0.37turn);
  }
  38% {
    transform: perspective(40vh) translateY(-10.2682065889vh) translateZ(17.2896862742vh) rotateX(-0.38turn);
  }
  39% {
    transform: perspective(40vh) translateY(-9.5613598462vh) translateZ(17.7051324278vh) rotateX(-0.39turn);
  }
  40% {
    transform: perspective(40vh) translateY(-8.8167787844vh) translateZ(18.0901699437vh) rotateX(-0.4turn);
  }
  41% {
    transform: perspective(40vh) translateY(-8.0374019247vh) translateZ(18.443279255vh) rotateX(-0.41turn);
  }
  42% {
    transform: perspective(40vh) translateY(-7.2263051115vh) translateZ(18.7630668004vh) rotateX(-0.42turn);
  }
  43% {
    transform: perspective(40vh) translateY(-6.3866893735vh) translateZ(19.0482705247vh) rotateX(-0.43turn);
  }
  44% {
    transform: perspective(40vh) translateY(-5.5218682903vh) translateZ(19.2977648589vh) rotateX(-0.44turn);
  }
  45% {
    transform: perspective(40vh) translateY(-4.6352549156vh) translateZ(19.510565163vh) rotateX(-0.45turn);
  }
  46% {
    transform: perspective(40vh) translateY(-3.7303483075vh) translateZ(19.6858316113vh) rotateX(-0.46turn);
  }
  47% {
    transform: perspective(40vh) translateY(-2.8107197188vh) translateZ(19.8228725073vh) rotateX(-0.47turn);
  }
  48% {
    transform: perspective(40vh) translateY(-1.8799985035vh) translateZ(19.9211470131vh) rotateX(-0.48turn);
  }
  49% {
    transform: perspective(40vh) translateY(-0.9418577929vh) translateZ(19.9802672843vh) rotateX(-0.49turn);
  }
  50% {
    transform: perspective(40vh) translateY(0vh) translateZ(20vh) rotateX(-0.5turn);
  }
  51% {
    transform: perspective(40vh) translateY(0.9418577929vh) translateZ(19.9802672843vh) rotateX(-0.51turn);
  }
  52% {
    transform: perspective(40vh) translateY(1.8799985035vh) translateZ(19.9211470131vh) rotateX(-0.52turn);
  }
  53% {
    transform: perspective(40vh) translateY(2.8107197188vh) translateZ(19.8228725073vh) rotateX(-0.53turn);
  }
  54% {
    transform: perspective(40vh) translateY(3.7303483075vh) translateZ(19.6858316113vh) rotateX(-0.54turn);
  }
  55% {
    transform: perspective(40vh) translateY(4.6352549156vh) translateZ(19.510565163vh) rotateX(-0.55turn);
  }
  56% {
    transform: perspective(40vh) translateY(5.5218682903vh) translateZ(19.2977648589vh) rotateX(-0.56turn);
  }
  57% {
    transform: perspective(40vh) translateY(6.3866893735vh) translateZ(19.0482705247vh) rotateX(-0.57turn);
  }
  58% {
    transform: perspective(40vh) translateY(7.2263051115vh) translateZ(18.7630668004vh) rotateX(-0.58turn);
  }
  59% {
    transform: perspective(40vh) translateY(8.0374019247vh) translateZ(18.443279255vh) rotateX(-0.59turn);
  }
  60% {
    transform: perspective(40vh) translateY(8.8167787844vh) translateZ(18.0901699437vh) rotateX(-0.6turn);
  }
  61% {
    transform: perspective(40vh) translateY(9.5613598462vh) translateZ(17.7051324278vh) rotateX(-0.61turn);
  }
  62% {
    transform: perspective(40vh) translateY(10.2682065889vh) translateZ(17.2896862742vh) rotateX(-0.62turn);
  }
  63% {
    transform: perspective(40vh) translateY(10.9345294113vh) translateZ(16.8454710593vh) rotateX(-0.63turn);
  }
  64% {
    transform: perspective(40vh) translateY(11.5576986416vh) translateZ(16.3742398975vh) rotateX(-0.64turn);
  }
  65% {
    transform: perspective(40vh) translateY(12.1352549156vh) translateZ(15.8778525229vh) rotateX(-0.65turn);
  }
  66% {
    transform: perspective(40vh) translateY(12.6649188825vh) translateZ(15.3582679498vh) rotateX(-0.66turn);
  }
  67% {
    transform: perspective(40vh) translateY(13.1446002007vh) translateZ(14.817536741vh) rotateX(-0.67turn);
  }
  68% {
    transform: perspective(40vh) translateY(13.572405787vh) translateZ(14.2577929157vh) rotateX(-0.68turn);
  }
  69% {
    transform: perspective(40vh) translateY(13.9466472883vh) translateZ(13.6812455268vh) rotateX(-0.69turn);
  }
  70% {
    transform: perspective(40vh) translateY(14.2658477444vh) translateZ(13.0901699437vh) rotateX(-0.7turn);
  }
  71% {
    transform: perspective(40vh) translateY(14.5287474169vh) translateZ(12.4868988716vh) rotateX(-0.71turn);
  }
  72% {
    transform: perspective(40vh) translateY(14.7343087609vh) translateZ(11.8738131459vh) rotateX(-0.72turn);
  }
  73% {
    transform: perspective(40vh) translateY(14.8817205197vh) translateZ(11.2533323356vh) rotateX(-0.73turn);
  }
  74% {
    transform: perspective(40vh) translateY(14.9704009264vh) translateZ(10.6279051953vh) rotateX(-0.74turn);
  }
  75% {
    transform: perspective(40vh) translateY(15vh) translateZ(10vh) rotateX(-0.75turn);
  }
  76% {
    transform: perspective(40vh) translateY(14.9704009264vh) translateZ(9.3720948047vh) rotateX(-0.76turn);
  }
  77% {
    transform: perspective(40vh) translateY(14.8817205197vh) translateZ(8.7466676644vh) rotateX(-0.77turn);
  }
  78% {
    transform: perspective(40vh) translateY(14.7343087609vh) translateZ(8.1261868541vh) rotateX(-0.78turn);
  }
  79% {
    transform: perspective(40vh) translateY(14.5287474169vh) translateZ(7.5131011284vh) rotateX(-0.79turn);
  }
  80% {
    transform: perspective(40vh) translateY(14.2658477444vh) translateZ(6.9098300563vh) rotateX(-0.8turn);
  }
  81% {
    transform: perspective(40vh) translateY(13.9466472883vh) translateZ(6.3187544732vh) rotateX(-0.81turn);
  }
  82% {
    transform: perspective(40vh) translateY(13.572405787vh) translateZ(5.7422070843vh) rotateX(-0.82turn);
  }
  83% {
    transform: perspective(40vh) translateY(13.1446002007vh) translateZ(5.182463259vh) rotateX(-0.83turn);
  }
  84% {
    transform: perspective(40vh) translateY(12.6649188825vh) translateZ(4.6417320502vh) rotateX(-0.84turn);
  }
  85% {
    transform: perspective(40vh) translateY(12.1352549156vh) translateZ(4.1221474771vh) rotateX(-0.85turn);
  }
  86% {
    transform: perspective(40vh) translateY(11.5576986416vh) translateZ(3.6257601025vh) rotateX(-0.86turn);
  }
  87% {
    transform: perspective(40vh) translateY(10.9345294113vh) translateZ(3.1545289407vh) rotateX(-0.87turn);
  }
  88% {
    transform: perspective(40vh) translateY(10.2682065889vh) translateZ(2.7103137258vh) rotateX(-0.88turn);
  }
  89% {
    transform: perspective(40vh) translateY(9.5613598462vh) translateZ(2.2948675722vh) rotateX(-0.89turn);
  }
  90% {
    transform: perspective(40vh) translateY(8.8167787844vh) translateZ(1.9098300563vh) rotateX(-0.9turn);
  }
  91% {
    transform: perspective(40vh) translateY(8.0374019247vh) translateZ(1.556720745vh) rotateX(-0.91turn);
  }
  92% {
    transform: perspective(40vh) translateY(7.2263051115vh) translateZ(1.2369331996vh) rotateX(-0.92turn);
  }
  93% {
    transform: perspective(40vh) translateY(6.3866893735vh) translateZ(0.9517294753vh) rotateX(-0.93turn);
  }
  94% {
    transform: perspective(40vh) translateY(5.5218682903vh) translateZ(0.7022351411vh) rotateX(-0.94turn);
  }
  95% {
    transform: perspective(40vh) translateY(4.6352549156vh) translateZ(0.489434837vh) rotateX(-0.95turn);
  }
  96% {
    transform: perspective(40vh) translateY(3.7303483075vh) translateZ(0.3141683887vh) rotateX(-0.96turn);
  }
  97% {
    transform: perspective(40vh) translateY(2.8107197188vh) translateZ(0.1771274927vh) rotateX(-0.97turn);
  }
  98% {
    transform: perspective(40vh) translateY(1.8799985035vh) translateZ(0.0788529869vh) rotateX(-0.98turn);
  }
  99% {
    transform: perspective(40vh) translateY(0.9418577929vh) translateZ(0.0197327157vh) rotateX(-0.99turn);
  }
  100% {
    transform: perspective(40vh) translateY(0vh) translateZ(0vh) rotateX(-1turn);
    color: red;
  }
}
@keyframes rotate-out {
  0% {
    transform: perspective(40vh) translateY(0vh) translateZ(0vh) rotateX(0turn);
    color: red;
  }
  1% {
    transform: perspective(40vh) translateY(-0.9418577929vh) translateZ(0.0197327157vh) rotateX(-0.01turn);
  }
  2% {
    transform: perspective(40vh) translateY(-1.8799985035vh) translateZ(0.0788529869vh) rotateX(-0.02turn);
  }
  3% {
    transform: perspective(40vh) translateY(-2.8107197188vh) translateZ(0.1771274927vh) rotateX(-0.03turn);
  }
  4% {
    transform: perspective(40vh) translateY(-3.7303483075vh) translateZ(0.3141683887vh) rotateX(-0.04turn);
  }
  5% {
    transform: perspective(40vh) translateY(-4.6352549156vh) translateZ(0.489434837vh) rotateX(-0.05turn);
  }
  6% {
    transform: perspective(40vh) translateY(-5.5218682903vh) translateZ(0.7022351411vh) rotateX(-0.06turn);
  }
  7% {
    transform: perspective(40vh) translateY(-6.3866893735vh) translateZ(0.9517294753vh) rotateX(-0.07turn);
  }
  8% {
    transform: perspective(40vh) translateY(-7.2263051115vh) translateZ(1.2369331996vh) rotateX(-0.08turn);
  }
  9% {
    transform: perspective(40vh) translateY(-8.0374019247vh) translateZ(1.556720745vh) rotateX(-0.09turn);
  }
  10% {
    transform: perspective(40vh) translateY(-8.8167787844vh) translateZ(1.9098300563vh) rotateX(-0.1turn);
  }
  11% {
    transform: perspective(40vh) translateY(-9.5613598462vh) translateZ(2.2948675722vh) rotateX(-0.11turn);
  }
  12% {
    transform: perspective(40vh) translateY(-10.2682065889vh) translateZ(2.7103137258vh) rotateX(-0.12turn);
  }
  13% {
    transform: perspective(40vh) translateY(-10.9345294113vh) translateZ(3.1545289407vh) rotateX(-0.13turn);
  }
  14% {
    transform: perspective(40vh) translateY(-11.5576986416vh) translateZ(3.6257601025vh) rotateX(-0.14turn);
  }
  15% {
    transform: perspective(40vh) translateY(-12.1352549156vh) translateZ(4.1221474771vh) rotateX(-0.15turn);
  }
  16% {
    transform: perspective(40vh) translateY(-12.6649188825vh) translateZ(4.6417320502vh) rotateX(-0.16turn);
  }
  17% {
    transform: perspective(40vh) translateY(-13.1446002007vh) translateZ(5.182463259vh) rotateX(-0.17turn);
  }
  18% {
    transform: perspective(40vh) translateY(-13.572405787vh) translateZ(5.7422070843vh) rotateX(-0.18turn);
  }
  19% {
    transform: perspective(40vh) translateY(-13.9466472883vh) translateZ(6.3187544732vh) rotateX(-0.19turn);
  }
  20% {
    transform: perspective(40vh) translateY(-14.2658477444vh) translateZ(6.9098300563vh) rotateX(-0.2turn);
  }
  21% {
    transform: perspective(40vh) translateY(-14.5287474169vh) translateZ(7.5131011284vh) rotateX(-0.21turn);
  }
  22% {
    transform: perspective(40vh) translateY(-14.7343087609vh) translateZ(8.1261868541vh) rotateX(-0.22turn);
  }
  23% {
    transform: perspective(40vh) translateY(-14.8817205197vh) translateZ(8.7466676644vh) rotateX(-0.23turn);
  }
  24% {
    transform: perspective(40vh) translateY(-14.9704009264vh) translateZ(9.3720948047vh) rotateX(-0.24turn);
  }
  25% {
    transform: perspective(40vh) translateY(-15vh) translateZ(10vh) rotateX(-0.25turn);
  }
  26% {
    transform: perspective(40vh) translateY(-14.9704009264vh) translateZ(10.6279051953vh) rotateX(-0.26turn);
  }
  27% {
    transform: perspective(40vh) translateY(-14.8817205197vh) translateZ(11.2533323356vh) rotateX(-0.27turn);
  }
  28% {
    transform: perspective(40vh) translateY(-14.7343087609vh) translateZ(11.8738131459vh) rotateX(-0.28turn);
  }
  29% {
    transform: perspective(40vh) translateY(-14.5287474169vh) translateZ(12.4868988716vh) rotateX(-0.29turn);
  }
  30% {
    transform: perspective(40vh) translateY(-14.2658477444vh) translateZ(13.0901699437vh) rotateX(-0.3turn);
  }
  31% {
    transform: perspective(40vh) translateY(-13.9466472883vh) translateZ(13.6812455268vh) rotateX(-0.31turn);
  }
  32% {
    transform: perspective(40vh) translateY(-13.572405787vh) translateZ(14.2577929157vh) rotateX(-0.32turn);
  }
  33% {
    transform: perspective(40vh) translateY(-13.1446002007vh) translateZ(14.817536741vh) rotateX(-0.33turn);
  }
  34% {
    transform: perspective(40vh) translateY(-12.6649188825vh) translateZ(15.3582679498vh) rotateX(-0.34turn);
  }
  35% {
    transform: perspective(40vh) translateY(-12.1352549156vh) translateZ(15.8778525229vh) rotateX(-0.35turn);
  }
  36% {
    transform: perspective(40vh) translateY(-11.5576986416vh) translateZ(16.3742398975vh) rotateX(-0.36turn);
  }
  37% {
    transform: perspective(40vh) translateY(-10.9345294113vh) translateZ(16.8454710593vh) rotateX(-0.37turn);
  }
  38% {
    transform: perspective(40vh) translateY(-10.2682065889vh) translateZ(17.2896862742vh) rotateX(-0.38turn);
  }
  39% {
    transform: perspective(40vh) translateY(-9.5613598462vh) translateZ(17.7051324278vh) rotateX(-0.39turn);
  }
  40% {
    transform: perspective(40vh) translateY(-8.8167787844vh) translateZ(18.0901699437vh) rotateX(-0.4turn);
  }
  41% {
    transform: perspective(40vh) translateY(-8.0374019247vh) translateZ(18.443279255vh) rotateX(-0.41turn);
  }
  42% {
    transform: perspective(40vh) translateY(-7.2263051115vh) translateZ(18.7630668004vh) rotateX(-0.42turn);
  }
  43% {
    transform: perspective(40vh) translateY(-6.3866893735vh) translateZ(19.0482705247vh) rotateX(-0.43turn);
  }
  44% {
    transform: perspective(40vh) translateY(-5.5218682903vh) translateZ(19.2977648589vh) rotateX(-0.44turn);
  }
  45% {
    transform: perspective(40vh) translateY(-4.6352549156vh) translateZ(19.510565163vh) rotateX(-0.45turn);
  }
  46% {
    transform: perspective(40vh) translateY(-3.7303483075vh) translateZ(19.6858316113vh) rotateX(-0.46turn);
  }
  47% {
    transform: perspective(40vh) translateY(-2.8107197188vh) translateZ(19.8228725073vh) rotateX(-0.47turn);
  }
  48% {
    transform: perspective(40vh) translateY(-1.8799985035vh) translateZ(19.9211470131vh) rotateX(-0.48turn);
  }
  49% {
    transform: perspective(40vh) translateY(-0.9418577929vh) translateZ(19.9802672843vh) rotateX(-0.49turn);
  }
  50% {
    transform: perspective(40vh) translateY(0vh) translateZ(20vh) rotateX(-0.5turn);
  }
  51% {
    transform: perspective(40vh) translateY(0.9418577929vh) translateZ(19.9802672843vh) rotateX(-0.51turn);
  }
  52% {
    transform: perspective(40vh) translateY(1.8799985035vh) translateZ(19.9211470131vh) rotateX(-0.52turn);
  }
  53% {
    transform: perspective(40vh) translateY(2.8107197188vh) translateZ(19.8228725073vh) rotateX(-0.53turn);
  }
  54% {
    transform: perspective(40vh) translateY(3.7303483075vh) translateZ(19.6858316113vh) rotateX(-0.54turn);
  }
  55% {
    transform: perspective(40vh) translateY(4.6352549156vh) translateZ(19.510565163vh) rotateX(-0.55turn);
  }
  56% {
    transform: perspective(40vh) translateY(5.5218682903vh) translateZ(19.2977648589vh) rotateX(-0.56turn);
  }
  57% {
    transform: perspective(40vh) translateY(6.3866893735vh) translateZ(19.0482705247vh) rotateX(-0.57turn);
  }
  58% {
    transform: perspective(40vh) translateY(7.2263051115vh) translateZ(18.7630668004vh) rotateX(-0.58turn);
  }
  59% {
    transform: perspective(40vh) translateY(8.0374019247vh) translateZ(18.443279255vh) rotateX(-0.59turn);
  }
  60% {
    transform: perspective(40vh) translateY(8.8167787844vh) translateZ(18.0901699437vh) rotateX(-0.6turn);
  }
  61% {
    transform: perspective(40vh) translateY(9.5613598462vh) translateZ(17.7051324278vh) rotateX(-0.61turn);
  }
  62% {
    transform: perspective(40vh) translateY(10.2682065889vh) translateZ(17.2896862742vh) rotateX(-0.62turn);
  }
  63% {
    transform: perspective(40vh) translateY(10.9345294113vh) translateZ(16.8454710593vh) rotateX(-0.63turn);
  }
  64% {
    transform: perspective(40vh) translateY(11.5576986416vh) translateZ(16.3742398975vh) rotateX(-0.64turn);
  }
  65% {
    transform: perspective(40vh) translateY(12.1352549156vh) translateZ(15.8778525229vh) rotateX(-0.65turn);
  }
  66% {
    transform: perspective(40vh) translateY(12.6649188825vh) translateZ(15.3582679498vh) rotateX(-0.66turn);
  }
  67% {
    transform: perspective(40vh) translateY(13.1446002007vh) translateZ(14.817536741vh) rotateX(-0.67turn);
  }
  68% {
    transform: perspective(40vh) translateY(13.572405787vh) translateZ(14.2577929157vh) rotateX(-0.68turn);
  }
  69% {
    transform: perspective(40vh) translateY(13.9466472883vh) translateZ(13.6812455268vh) rotateX(-0.69turn);
  }
  70% {
    transform: perspective(40vh) translateY(14.2658477444vh) translateZ(13.0901699437vh) rotateX(-0.7turn);
  }
  71% {
    transform: perspective(40vh) translateY(14.5287474169vh) translateZ(12.4868988716vh) rotateX(-0.71turn);
  }
  72% {
    transform: perspective(40vh) translateY(14.7343087609vh) translateZ(11.8738131459vh) rotateX(-0.72turn);
  }
  73% {
    transform: perspective(40vh) translateY(14.8817205197vh) translateZ(11.2533323356vh) rotateX(-0.73turn);
  }
  74% {
    transform: perspective(40vh) translateY(14.9704009264vh) translateZ(10.6279051953vh) rotateX(-0.74turn);
  }
  75% {
    transform: perspective(40vh) translateY(15vh) translateZ(10vh) rotateX(-0.75turn);
  }
  76% {
    transform: perspective(40vh) translateY(14.9704009264vh) translateZ(9.3720948047vh) rotateX(-0.76turn);
  }
  77% {
    transform: perspective(40vh) translateY(14.8817205197vh) translateZ(8.7466676644vh) rotateX(-0.77turn);
  }
  78% {
    transform: perspective(40vh) translateY(14.7343087609vh) translateZ(8.1261868541vh) rotateX(-0.78turn);
  }
  79% {
    transform: perspective(40vh) translateY(14.5287474169vh) translateZ(7.5131011284vh) rotateX(-0.79turn);
  }
  80% {
    transform: perspective(40vh) translateY(14.2658477444vh) translateZ(6.9098300563vh) rotateX(-0.8turn);
  }
  81% {
    transform: perspective(40vh) translateY(13.9466472883vh) translateZ(6.3187544732vh) rotateX(-0.81turn);
  }
  82% {
    transform: perspective(40vh) translateY(13.572405787vh) translateZ(5.7422070843vh) rotateX(-0.82turn);
  }
  83% {
    transform: perspective(40vh) translateY(13.1446002007vh) translateZ(5.182463259vh) rotateX(-0.83turn);
  }
  84% {
    transform: perspective(40vh) translateY(12.6649188825vh) translateZ(4.6417320502vh) rotateX(-0.84turn);
  }
  85% {
    transform: perspective(40vh) translateY(12.1352549156vh) translateZ(4.1221474771vh) rotateX(-0.85turn);
  }
  86% {
    transform: perspective(40vh) translateY(11.5576986416vh) translateZ(3.6257601025vh) rotateX(-0.86turn);
  }
  87% {
    transform: perspective(40vh) translateY(10.9345294113vh) translateZ(3.1545289407vh) rotateX(-0.87turn);
  }
  88% {
    transform: perspective(40vh) translateY(10.2682065889vh) translateZ(2.7103137258vh) rotateX(-0.88turn);
  }
  89% {
    transform: perspective(40vh) translateY(9.5613598462vh) translateZ(2.2948675722vh) rotateX(-0.89turn);
  }
  90% {
    transform: perspective(40vh) translateY(8.8167787844vh) translateZ(1.9098300563vh) rotateX(-0.9turn);
  }
  91% {
    transform: perspective(40vh) translateY(8.0374019247vh) translateZ(1.556720745vh) rotateX(-0.91turn);
  }
  92% {
    transform: perspective(40vh) translateY(7.2263051115vh) translateZ(1.2369331996vh) rotateX(-0.92turn);
  }
  93% {
    transform: perspective(40vh) translateY(6.3866893735vh) translateZ(0.9517294753vh) rotateX(-0.93turn);
  }
  94% {
    transform: perspective(40vh) translateY(5.5218682903vh) translateZ(0.7022351411vh) rotateX(-0.94turn);
  }
  95% {
    transform: perspective(40vh) translateY(4.6352549156vh) translateZ(0.489434837vh) rotateX(-0.95turn);
  }
  96% {
    transform: perspective(40vh) translateY(3.7303483075vh) translateZ(0.3141683887vh) rotateX(-0.96turn);
  }
  97% {
    transform: perspective(40vh) translateY(2.8107197188vh) translateZ(0.1771274927vh) rotateX(-0.97turn);
  }
  98% {
    transform: perspective(40vh) translateY(1.8799985035vh) translateZ(0.0788529869vh) rotateX(-0.98turn);
  }
  99% {
    transform: perspective(40vh) translateY(0.9418577929vh) translateZ(0.0197327157vh) rotateX(-0.99turn);
  }
  100% {
    transform: perspective(40vh) translateY(0vh) translateZ(0vh) rotateX(-1turn);
    color: blue;
  }
}

/*# sourceMappingURL=poop.css.map */
