@use "sass:math";
@use "layout";
@use "vars";

@import "font";

body {
  @include deactivated;
}

#clock {
  perspective: 100vh;
  perspective-origin: center;
}

.inactive {
  animation: #{vars.$animation}-out vars.$anim-time vars.$anim-type forwards;
}

.active {
  animation: #{vars.$animation}-in vars.$anim-time vars.$anim-type math.div(
      vars.$anim-time,
      2
    ) forwards;
}

@keyframes fade-in {
  0% {
    @include deactivated;
  }
  100% {
    @include activated;
  }
}

@keyframes fade-out {
  0% {
    @include activated;
  }
  100% {
    @include deactivated;
  }
}

@import "./rotator";
