@use 'layout';

$fade-time: 3s;
$fade-type: ease;

body {
    @include deactivated;
}

.inactive {
    @include deactivated;
    animation: fade-out $fade-type $fade-time;
}

.active {
    @include activated;
    animation: fade-in $fade-type $fade-time;
}

@keyframes fade-in {
    0% {
        @include deactivated;
    }
    100% {
        @include activated;
    }
}

@keyframes fade-out {
    0% {
        @include activated;
    }
    100% {
        @include deactivated;
    }
}
