@use 'vars';

body {
  overflow: hidden;
  font-size: vars.$font-size;
}

#clock {
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  grid-template-rows: repeat(12, 1fr);
  gap: vars.$grid-gap vars.$grid-gap;
  justify-content: center;
  align-content: center;
  height: 100vh;
  max-width: 100vh;
  margin: 0 auto;

  span {
    text-align: center;
  }
}
