@use "sass:math";

// I think I need to set some variable on this module which I can override from a client
$tau: math.$pi * 2;

@function offset-index($index, $amount: 25) {
  @return $index - $amount;
}

@function radians($index) {
  @return math.div($tau * offset-index($index), 100);
}

@function y-value($index, $scale-factor) {
  @return 0 - (math.cos(radians($index)) * $scale-factor);
}

@function z-value($index, $scale-factor, $depth: 0) {
  @return (math.sin(radians($index)) * $scale-factor) + $depth;
}

@function rotation($index, $turns: 1turn) {
  @return 0 - (math.div($index, 100) * $turns);
}

@mixin select-include($index, $direction) {
  @if $direction == "in" {
    @if $index == 0 {
      @include deactivated;
    }
    @if $index == 100 {
      @include activated;
    }
  }

  @if $direction == "out" {
    @if $index == 0 {
      @include activated;
    }
    @if $index == 100 {
      @include deactivated;
    }
  }
}

@mixin one-frame(
  $index,
  $anim,
  $perspective: 40vh,
  $y-distance: 10vh,
  $z-distance: 10vh
) {
  transform: perspective($perspective) translateY(y-value($index, $y-distance))
    translateZ(z-value($index, $z-distance, $z-distance))
    rotateX(rotation($index));

  @include select-include($index, $anim);
}

@mixin frame-generator($anim, $step-size: 1) {
  @for $i from 0 through 100 {
    #{$i}% {
      @include one-frame($i, $anim);
    }
  }
}

$anims: "in", "out";

@each $anim in $anims {
  @keyframes rotate-#{$anim} {
    @include frame-generator($anim);
  }
}
