@use "sass:math";
@use "sass:map";

$perspective: 40vh;
$y-distance: 10vh;
$z-distance: 10vh;
$turns: 1turn;
$depth: 0;

$tau: math.$pi * 2;

@mixin activated {
}

@mixin deactivated {
}

@function offset-index($index, $amount: 25) {
  @return $index - $amount;
}

@function radians($index) {
  @return math.div($tau * offset-index($index), 100);
}

@function y-value($index, $y-distance: $y-distance) {
  @return 0 - (math.cos(radians($index)) * $y-distance);
}

@function z-value($index, $z-distance: $z-distance, $depth: $depth) {
  @return (math.sin(radians($index)) * $z-distance) + $depth;
}

@function rotation($index, $turns: $turns) {
  @return 0 - (math.div($index, 100) * $turns);
}

@mixin select-include($index, $direction) {
  @if $direction == "in" {
    @if $index == 0 {
      @include deactivated;
    }
    @if $index == 100 {
      @include activated;
    }
  }

  @if $direction == "out" {
    @if $index == 0 {
      @include activated;
    }
    @if $index == 100 {
      @include deactivated;
    }
  }
}

@mixin one-frame($index, $anim) {
  transform: perspective($perspective) translateY(y-value($index))
    translateZ(z-value($index, $z-distance, $z-distance))
    rotateX(rotation($index));

  @include select-include($index, $anim);
}

@mixin frame-generator($anim, $step-size: 1) {
  @for $i from 0 through 100 {
    #{$i}% {
      @include one-frame($i, $anim);
    }
  }
}

@each $anim in "in", "out" {
  @keyframes rotate-#{$anim} {
    @include frame-generator($anim);
  }
}
