// migt be broken due to `outer-margin` in vars
// https://codepen.io/markmead/pen/YjQKeZ
@use "../base/animators/fader" as animator;
@use "../base/font" with ($font: "Lalezar");
@use "../base/layout";
@use "../base/utils";

$orange: rgb(250, 129, 0);
$yellow: rgb(250, 212, 0);
$cyan: rgb(43, 214, 226);

$background-colour: $orange;
$gradient-colour: $yellow;
$stroke-colour: darken($background-colour, 60%);

$active-colour: $cyan;
$inactive-colour: transparentize(darken($background-colour, 5%), 0.8);

$stroke-width: 1px;
$offset: 0.7vh;
$offset: 0vh;

body {
  background: radial-gradient($gradient-colour, $background-colour);
  @include utils.stroke-width($stroke-width);
  @include utils.stroke-colour($stroke-colour);
  color: transparent;
  text-shadow: $offset $offset $inactive-colour;
  font-size: 7vh;
}

span {
  margin: -6vh;
}

#clock {
  // this is a fudge to repair whatever broke when we moved to a width of 12
  padding: 2.5vh;
}

animator.$activated-styles: (text-shadow: $offset $offset $active-colour);
animator.$deactivated-styles: (text-shadow: $offset $offset $inactive-colour);

@include animator.setup(2s);
