@use '../base/mixins';
@use '../base/vars';

$font: "Righteous";

$grey: rgba(4, 4, 4, 0.445);

$active-colour: black;
$background-colour: rgb(255, 255, 255);
$inactive-colour: $grey;

$stroke-width: 1px;

@mixin activated {
  color: $inactive-colour;
  @include mixins.stroke-width($stroke-width);
  @include mixins.stroke-colour($active-colour);
}

@mixin deactivated {
}

@import "../base/default";

body {
  background: url(vars.$background-root + "wall.png"), $background-colour;
  font-size: 6vh;
  @include mixins.stroke-width($stroke-width);
  @include mixins.stroke-colour($inactive-colour);
  color: transparent;
}
