@use "../base/layout";

@use "../base/mixins";
@use "../base/strokes";
@use "../base/vars";

@use "../base/font" with ($font: "Righteous");
@use "../base/rotator" as animator;

$grey: rgba(4, 4, 4, 0.445);

$active-colour: black;
$background-colour: rgb(255, 255, 255);
$inactive-colour: $grey;

$stroke-width: 1px;

animator.$activated-styles: (color: $inactive-colour);
animator.$deactivated-styles: (color: transparent);

@include mixins.active-inactive(rotate, 2s);

@include animator.make-frames;

body {
  background: url(vars.$background-root + "wall.png"), $background-colour;
  font-size: 6vh;
  @include strokes.stroke-width($stroke-width);
  @include strokes.stroke-colour($inactive-colour);
  color: transparent;
}
