@use "../base/mixins";
@use "../base/vars";

$font: "Press Start 2P";

$green: rgb(102, 255, 0);

$active-colour: $green;
$inactive-colour: darken($active-colour, 30%);
$shadow-colour: darken($active-colour, 20%);

$background-colour: black;
$gradient-colour: darken($active-colour, 40%);

@mixin activated {
  color: $active-colour;
  font-weight: bold;
  text-shadow: $shadow-colour 4px 0 4px;
}

@mixin deactivated {
  text-shadow: none;
}

@import "../base/default";

body {
  background: url(vars.$background-root + "scanlines.png"),
    radial-gradient($gradient-colour, $background-colour);
  font-size: 3.5vh;
  @include mixins.stroke-colour($inactive-colour);
  @include mixins.stroke-width(1px);
  color: transparent;
}
