@use "../base/animators/rotator" as animator;
@use "../base/font" with ($font: "Righteous");
@use "../base/layout";
@use "../base/utils";
@use "../base/vars";

$grey: rgba(4, 4, 4, 0.445);
$background-colour: white;
$active-colour: $grey;

$stroke-width: 1px;

body {
  background: url(vars.$background-root + "wall.png"), $background-colour;
  font-size: 6vh;
  @include utils.stroke-width($stroke-width);
  @include utils.stroke-colour($active-colour);
  color: transparent;
}

animator.$activated-styles: (color: $active-colour);
animator.$deactivated-styles: (color: transparent);

@include animator.setup(2s);
