$font: "Righteous";

@use "../base/animators/rotator" as animator;
@use "../base/font" with ($font: $font);
@use "../base/layout";
@use "../base/strokes";
@use "../base/vars";

$grey: rgba(4, 4, 4, 0.445);
$background-colour: white;
$active-colour: $grey;

$stroke-width: 1px;

body {
  background: url(vars.$background-root + "wall.png"), $background-colour;
  font-size: 6vh;
  @include strokes.width($stroke-width);
  @include strokes.colour($active-colour);
  color: transparent;
}

animator.$activated-styles: (color: $active-colour);
animator.$deactivated-styles: (color: transparent);

@include animator.setup(2s);
