@use '../base/mixins';

@import url("https://fonts.googleapis.com/css2?family=Righteous");

$grey: rgba(4, 4, 4, 0.216);

$active-colour: black;
$background-colour: white;
$inactive-colour: $grey;

@mixin activated {
    color: $active-colour;
}

@mixin deactivated {
    color: $inactive-colour;
}

@import '../base/faders';

body {
    background-color: $background-colour;
    font-family: "Righteous";
    font-size: 2m;
}
