$font: "Montserrat";

$orange: rgb(250, 129, 0);

$active-colour: $orange;
$inactive-colour: darken(invert($active-colour), 35%);
$background-colour: darken($inactive-colour, 5%);
$shadow-colour: darken($active-colour, 0%);

@mixin activated {
    color: $active-colour;
    text-shadow: $shadow-colour 0 0 16px;
}

@mixin deactivated {
    color: $inactive-colour;
    text-shadow: none;
}

@import '../base/default';

body {
    background-color: $background-colour;
}
