@use "../base/animators/rotator" as animator;
@use "../base/font" with ($font: "Montserrat");
@use "../base/layout";

$orange: rgb(250, 129, 0);

$active-colour: $orange;
$inactive-colour: darken(invert($active-colour), 35%);
$background-colour: darken($inactive-colour, 5%);
$shadow-colour: darken($active-colour, 0%);

body {
  background-color: $background-colour;
  color: $inactive-colour;
}

animator.$activated-styles: (
  color: $active-colour,
  text-shadow: $shadow-colour 0 0 16px
);
animator.$deactivated-styles: (color: $inactive-colour);

@include animator.setup(2s);
