$font: "Dongle";

@use "sass:list";
@use "../base/animators/neon" as animator;
@use "../base/font" with ($font: $font);
@use "../base/layout";
@use "../base/vars";
@use "../base/utils";

$pink: rgb(254, 1, 154);
$orange: rgb(201, 128, 19);
$green: rgb(0, 255, 85);
$purple: rgb(90, 7, 135);

$glow-colour: $green;
$active-colour: white;
$inactive-colour: darken($glow-colour, 50%);
$background-colour: transparentize(darken($glow-colour, 50%), 0.15);

$inactive-shadow: 0 0 1px $glow-colour;

body {
  background: url(vars.$background-root + "wall.jpg");
  background-color: $background-colour;
  background-blend-mode: overlay;
  color: $inactive-colour;
  font-weight: bold;
  font-size: 10vh;
  text-shadow: $inactive-shadow;
}

@function make-shadows($radii, $colour) {
  $results: [];
  @each $radius in $radii {
    $results: list.append(
      $results,
      #{0 0 $radius * 1vh $colour},
      $separator: comma
    );
  }
  @return $results;
}

animator.$activated-styles: (
  color: $active-colour,
  text-shadow: (
    utils.list-to-string(
      list.join(
        make-shadows([0.5, 1], $active-colour),
        make-shadows([2, 3, 4], $glow-colour)
      )
    ),
  )
);
animator.$deactivated-styles: (
  color: $inactive-colour,
  text-shadow: (
    $inactive-shadow,
  )
);

@include animator.setup(2s); ;;
