$font: "Balsamiq Sans";
// $font: "Monoton";

@use "../base/animators/neon" as animator;
@use "../base/font" with ($font: $font);
@use "../base/layout";
@use "../base/vars";

$pink: rgba(254, 1, 154, 1);
$orange: rgba(201, 128, 19, 1);
$green: rgb(0, 255, 85);

$active-colour: white;
$glow-colour: $green;
$inactive-colour: darken($glow-colour, 50%);
$background-colour: transparentize(darken($glow-colour, 50%), 0.15);

$inactive-shadow: 0 0 1px $glow-colour;

body {
  background: url(vars.$background-root + "wall.jpg");
  background-color: $background-colour;
  background-blend-mode: overlay;
  color: $inactive-colour;
  font-weight: bold;
  font-size: 8.5vh;
  text-shadow: $inactive-shadow;
}

animator.$activated-styles: (
  color: $active-colour,
  text-shadow: (
    0 0 7px white,
    0 0 10px white,
    0 0 21px white,
    0 0 42px $glow-colour,
    0 0 82px $glow-colour,
    0 0 92px $glow-colour,
    0 0 102px $glow-colour,
    0 0 151px $glow-colour,
  ),
  z-index: 1000
);
animator.$deactivated-styles: (
  color: $inactive-colour,
  text-shadow: (
    $inactive-shadow,
  )
);

@include animator.setup(2s); ;;
