// https://codepen.io/markmead/pen/YjQKeZ
@use '../base/mixins';
@use '../base/vars';

$font: "Lalezar";

$orange: rgb(250, 129, 0);
$yellow: rgb(250, 212, 0);
$cyan: rgb(43, 214, 226);

$background-colour: $orange;
$gradient-colour: $yellow;
$stroke-colour: darken($background-colour, 60%);

$active-colour: $cyan;
$inactive-colour: transparentize(darken($background-colour, 5%), 0.8);

$stroke-width: 1px;
$offset: 0.5vh;

@mixin activated {
  text-shadow: $offset $offset $active-colour;
}

@mixin deactivated {
  text-shadow: $offset $offset $inactive-colour;
}

@import "../base/default";

body {
  background: radial-gradient($gradient-colour, $background-colour);
  @include mixins.stroke-width($stroke-width);
  @include mixins.stroke-colour($stroke-colour);
  color: transparent;
  text-shadow: $offset $offset $inactive-colour;
}
