$font: "Lalezar";
$animator: "fader";

// https://codepen.io/markmead/pen/YjQKeZ
@use "sass:math";
@use "../base/animators/twirler" as animator;
@use "../base/font" with ($font: $font);
@use "../base/layout";
@use "../base/utils";
@use "../base/vars";

$orange: rgb(250, 129, 0);
$yellow: rgb(250, 212, 0);
$cyan: rgb(43, 214, 226);

$background-colour: $orange;
$gradient-colour: $yellow;
$stroke-colour: darken($background-colour, 60%);

$active-colour: $cyan;
$inactive-colour: transparentize(darken($background-colour, 5%), 0.8);

$stroke-width: 0.5px;
$offset: 0.6vh;

body {
  font-size: 9vh;

  background-image: url(vars.$background-root + "project-paper.png"),
    radial-gradient($gradient-colour, $background-colour);
  // background-blend-mode: multiply;

  @include utils.stroke-width($stroke-width);
  @include utils.stroke-colour($stroke-colour);
  text-shadow: $offset $offset $inactive-colour;

  color: transparent;
}

animator.$activated-styles: (text-shadow: $offset $offset $active-colour);
animator.$deactivated-styles: (text-shadow: $offset $offset $inactive-colour);

@include animator.setup(2s);
