@use '../base/mixins';

@import url("https://fonts.googleapis.com/css2?family=Manjari");

$active-colour: rgb(227, 17, 153);
$inactive-colour: rgba(57, 31, 31, 0.5);
$background-colour: rgb(62, 12, 117);

@mixin activated {
  color: $active-colour;
  @include mixins.engrave-with-bloom($active-colour)
}

@mixin deactivated {
  color: $inactive-colour;
  @include mixins.engrave
}

@import '../base/faders';

body {
  background-color: $background-colour;
  font-family: "Manjari";
}
