// https://codepen.io/markmead/pen/YjQKeZ
@use "../base/animators/twirler" as animator;
@use "../base/layout";
@use "../base/vars";

$grey: rgba(4, 4, 4, 0.445);
$magenta: rgb(255, 0, 255);
$white: rgb(255, 255, 255);
$off-white: rgb(191, 191, 191);
$blue: rgb(0, 0, 191);

$active-colour: $magenta;
$background-colour: $white;
$inactive-colour: $off-white;

@font-face {
  font-family: "Sinclair";
  src: url("../../fonts/sinclair.ttf") format("truetype");
}

body {
  font-family: "Sinclair";
  background: $background-colour;
  background-image: url(vars.$background-root + "1982.png");
  background-repeat: no-repeat;
  background-size: auto 3vh;
  background-position: center bottom 3vh;
  font-size: 6vh;
  color: $inactive-colour;
}

animator.$activated-styles: (color: $active-colour);
animator.$deactivated-styles: (color: $inactive-colour);

@include animator.setup(2s);
