$font: "Libre Franklin";

@use "sass:math";
@use "../base/animators/disappear" as animator;
@use "../base/font" with ($font: $font);
@use "../base/layout";
@use "../base/utils";
@use "../base/vars";

$background-colour: rgba(0, 0, 0, 0.771);
$active-colour: white;
$inactive-colour: darken($active-colour, 70%);

body {
  background: url(vars.$background-root + "twinkle-stars-01.gif");
  color: $inactive-colour;
  font-weight: bold;
  perspective: 10vh;
  perspective-origin: center;
  text-transform: lowercase;
}

#clock {
  transform: rotateX(4deg) translateY(-5vh) translateZ(-4vh);
}

animator.$activated-styles: (color: $active-colour, text-transform: uppercase);
animator.$timing-function: linear;

@include animator.setup;
