@use '../base/mixins';
@use '../base/vars';

$active-colour: rgb(250, 236, 48);

@mixin activated {
  color: $active-colour;
  @include mixins.engrave-with-bloom($active-colour);
}

@mixin deactivated {
  color: transparent;
  @include mixins.engrave;
}

@import '../base/faders';

body {
  background-image: url(vars.$background-root + "verdigris.png");
}
