@use "../base/animators/rotator" as animator;
@use "../base/font" with ($font: "Press Start 2P");
@use "../base/layout";
@use "../base/utils";
@use "../base/vars";

$green: rgb(102, 255, 0);

$active-colour: $green;
$inactive-colour: darken($active-colour, 30%);
$shadow-colour: darken($active-colour, 20%);

$background-colour: black;
$gradient-colour: darken($active-colour, 40%);

body {
  background: url(vars.$background-root + "scanlines.png"),
    radial-gradient($gradient-colour, $background-colour);
  font-size: 3.5vh;
  @include utils.stroke-colour($inactive-colour);
  @include utils.stroke-width(1px);
  color: transparent;
}

animator.$step-size: 50;
animator.$invert: true;
animator.$perspective: 4vh;
animator.$turns: 8turn;

animator.$activated-styles: (
  color: $active-colour,
  font-weight: bold,
  text-shadow: $shadow-colour 4px 0 4px
);

@include animator.setup(2s);
