@use "../base/animators/rotator" as animator;
@use "../base/font" with ($font: "Saira");
@use "../base/layout";
@use "../base/utils";
@use "../base/vars";

$active-colour: white;
$inactive-colour: invert($active-colour);
$background-colour: darken($inactive-colour, 15%);

$stroke-width: 0.1vh;
$stroke-colour: transparentize($active-colour, 0.6);

body {
  background: url(vars.$background-root + "texture.png"), $background-colour;
  @include utils.stroke-width($stroke-width);
  @include utils.stroke-colour($stroke-colour);
  color: $inactive-colour;
}

animator.$activated-styles: (color: $active-colour);
animator.$deactivated-styles: (color: $inactive-colour);
animator.$invert: true;

@include animator.setup(2s);
