@use "sass:list";
@use "sass:string";
@use "./utils";
@use "../utils" as base-utils;

$name: neon;

$activated-styles: none;
$deactivated-styles: none;

@function as-per($number) {
  @return $number * 1%;
}

@function numbers-to-percentages($list) {
  $results: [];
  @each $value in $list {
    $results: list.append($results, as-per($value), $separator: comma);
  }
  @return base-utils.list-to-string($results);
}

@function bracket-values($values) {
  $results: [];

  @each $value in $values {
    $results: list.append($results, as-per($value - 0.001), $separator: comma);
    $results: list.append($results, as-per($value + 1), $separator: comma);
  }
  @return base-utils.list-to-string($results);
}

@mixin frames {
  $ons: [10, 20, 30, 60, 70, 99];
  @keyframes turn-on {
    #{bracket-values($ons)} {
      @include utils.render-styles($deactivated-styles);
    }

    #{numbers-to-percentages($ons)} {
      @include utils.render-styles($activated-styles);
    }
  }

  $offs: [1, 35, 36, 70, 71, 90, 99];
  @keyframes flicker {
    #{bracket-values($offs)} {
      @include utils.render-styles($activated-styles);
    }

    #{numbers-to-percentages($offs)} {
      @include utils.render-styles($deactivated-styles);
    }
  }
}

@mixin setup($duration: 20s) {
  .active {
    animation: turn-on 10s linear 0ms 1,
      flicker 15s linear 3s infinite alternate;
  }

  .inactive {
    @include utils.render-styles($deactivated-styles);
  }

  @include frames;
}
