@use "./utils";

$name: shooter;

$shoot-distance: 10vh;
$perspective: 30vh;

$activated-styles: none;
$deactivated-styles: none;

@mixin shoot($direction) {
  $start-styles: $deactivated-styles;
  $end-styles: $activated-styles;

  @if $direction == out {
    $start-styles: $activated-styles;
    $end-styles: $deactivated-styles;
  }

  @keyframes #{$name}-#{$direction} {
    0% {
      @include utils.render-styles($start-styles);
    }

    40% {
      @include utils.render-styles($start-styles);
      transform: perspective($perspective) translateZ($shoot-distance);
    }

    60% {
      @include utils.render-styles($end-styles);
      transform: perspective($perspective) translateZ($shoot-distance);
    }

    70% {
      transform: perspective($perspective) translateZ($shoot-distance);
    }

    99% {
      transform: perspective($perspective) translateZ(-$shoot-distance * 2);
    }

    100% {
      transform: perspective($perspective) translateZ(0);
      @include utils.render-styles($end-styles);
    }
  }
}

@mixin make-frames {
  @include shoot(in);
  @include shoot(out);
}

@mixin setup($duration: 6s) {
  @include utils.active-inactive($name, $duration);
  @include make-frames;
}
