<!DOCTYPE html>
<html>
  <head>
    <link
      rel="shortcut icon"
      type="image/png"
      href="{{ url_for('static', filename='../images/favicon.png') }}"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='../css/controller.css') }}"
    />

    <title>jlock control</title>
  </head>

  <body>
    <header>
      <h1>jlock</h1>
      <h2>on <em>{{host_name }}</em></h2>
    </header>
    <main>
      <h3>Choose style</h3>

      <div id="styles">
        {% for style in styles %} {% set name = style.split('.')[0] %}

        <button class="style-button">
          <a href="#" onClick="styleSelect('{{name}}')">{{name}}</a>
        </button>
        {% endfor %}
      </div>

      <hr />

      <h3>Choose language</h3>
      {% for key, value in languages.items() %}

      <button>
        <a href="#" onClick="languageSelect('{{key}}')">{{value}}</a>
      </button>

      {% endfor %}
    </main>

    <script>
      let styleSelect = function (style) {
        fetch("/controller/style", {
          headers: { "Content-Type": "application/json" },
          method: "POST",
          body: JSON.stringify({ style: style }),
        });
      };

      let languageSelect = function (languageID) {
        fetch("/controller/language", {
          headers: { "Content-Type": "application/json" },
          method: "POST",
          body: JSON.stringify({ language: languageID }),
        });
      };
    </script>
  </body>
</html>
