<!DOCTYPE html>
<html>
  <head>
    <!-- jQuery -->
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>

    <link
      rel="shortcut icon"
      type="image/png"
      href="{{ url_for('static', filename='../images/favicon.png') }}"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='../css/controller.css') }}"
    />

    <title>Qlock control</title>
  </head>

  <body>
    <main>
      <h1>Qlock</h1>
      <h2>on <em>{{host_name }}</em></h2>

      {{ arrow_svg | safe }}

      <h3>Click the arrow to cycle through the available clock styles</h3>
    </main>

    <script>
      $(document).ready(function () {
        $("#next-button").click(function () {
          cycle();
        });
      });

      let cycle = function () {
        $("#arrow").addClass("active");
        $.post("/controller/cycle-style").done(function () {
          $("#arrow").removeClass("active");
        });
      };
    </script>
  </body>
</html>
