<!DOCTYPE html>
<html>
  <head>
    <link
      rel="shortcut icon"
      type="image/png"
      href="{{ url_for('static', filename='../images/favicon.png') }}"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='../css/controller.css') }}"
    />

    <title>jlock control</title>
  </head>

  <body>
    <header>
      <h1>jlock</h1>
      <h2>on <em>{{host_name }}</em></h2>
    </header>

    <main>
      <div id="styles">
        <h3>Styles</h3>

        <ul>
          {% for style in styles %} {% set name = style.split('.')[0] %}
          <li>
            <a href="#" onClick="styleSelect('{{name}}')"
              >{{name | replace("-", " ")}}</a
            >
          </li>
          {% endfor %}
        </ul>
      </div>

      <div id="languages">
        <h3>Languages</h3>

        <ul>
          {% for key, value in languages.items() %}
          <li>
            <a href="#" onClick="languageSelect('{{key}}')">{{value}}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </main>

    <script>
      let styleSelect = function (style) {
        sendData("/controller/style", { style: style });
      };

      let languageSelect = function (languageID) {
        sendData("/controller/language", { language: languageID });
      };

      let sendData = function (endPoint, data) {
        fetch(endPoint, {
          headers: { "Content-Type": "application/json" },
          method: "POST",
          body: JSON.stringify(data),
        });
      };
    </script>
  </body>
</html>
